<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer [mode]="mode" [opened]="mode === 'side'" class="example-sidenav">
    <mat-nav-list>
      <mat-list-item routerLink="/">Home</mat-list-item>
      <mat-list-item routerLink="/about">About</mat-list-item>
      <mat-list-item routerLink="/contact">Contact</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <app-hamburger [initialState]="mode === 'side'" [closed]="drawer.closedStart" (trigger)="drawer.toggle();"/>
      <span class="title">My Application</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
